#countLabel {
  display: block;
  text-align: 2em;
  font-size: 2em;
  font-family: Helvetica;
}

.buttons {
  padding: 10px 20px;
  font-size: 0.8em;
  color: white;
  background-color: hsl(214, 100%, 74%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttons:hover {
  background-color: hsl(214, 65%, 65%);
}

.buttons:active {
  background-color: hsl(214, 100%, 54%);
}

body {
  font-family: Verdana;
  /**
  background-image: url("Colossal+Titan+Breach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  */
}


.myLabels {
  font-size: 1.5em;
}

p {
  font-family: Verdana;
  font-size: 1em;
}

#myText {
  margin-top: 30px;
}

#myButton3 {
  margin-top: 15px;
}

h1 {
  font-size: 2.5em;
  color: hsl(214, 65%, 65%);
}

form {
  display: inline-block;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(34, 34, 34);
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 4px;
  margin-bottom: 5%;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#result {
  font-size: 1.5em;
}

#container {
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

input {
  font-size: 1em;
  text-align: center;
  width: 5%;
}

#diceResult {
  font-size: 1.5em;
  margin: 20px;
}

#diceImages img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

#clock-container {
  display: flex;
  height: 100vh;
}

#clock {
  font-size: 6em;
  font-family: monospace;
  margin: auto;
  font-weight: bold;
}

#container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 5px solid;
  border: 5px solid;
  border-radius: 40px;
  display: inline-flex;
  flex-direction: column;
  width: auto;
  padding: 0.2em 0.6em;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#display {
  margin-bottom: 15px;
  font-size: 5em;
  font-weight: bold;
  font-family: monospace;
  color: rgb(59, 59, 59);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.808);
}

#controls.buttons {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

#startBtn {
  background-color: hsla(120, 100%, 50%, 0.781);
}

#startBtn:hover {
  background-color: hsl(120, 67%, 45%);
}

#stopBtn {
  background-color: hsl(0, 100%, 50%);
}

#stopBtn:hover {
  background-color: hsl(0, 67%, 45%);
}

#resetBtn {
  background-color: hsl(240, 100%, 50%);
}

#resetBtn:hover {
  background-color: hsl(240, 67%, 45%);
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow:hidden;
}

#display1 {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

.calcButton {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.calcButton:hover {
  background-color: hsl(0, 0%, 40%);
}

.calcButton:active {
  background-color: hsl(0, 0%, 50%);
}

#operator-btn {
  background-color: orange;
}

#operator-btn:hover {
  background-color: hsl(30, 100%, 50%);
}

#operator-btn:active {
  background-color: hsl(30, 100%, 40%);
}
