#countLabel {
  display: block;
  text-align: 2em;
  font-size: 2em;
  font-family: Helvetica;
}

.buttons {
  padding: 10px 20px;
  font-size: 0.8em;
  color: white;
  background-color: hsl(214, 100%, 74%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 20px;
}

.buttons:hover {
  background-color: hsl(214, 65%, 65%);
} 

body {
  font-family: Verdana;
  text-align: center;
}


.myLabels {
  font-size: 1.5em;
}

p {
  font-family: Verdana;
  font-size: 1em;
}

#myText {
  margin-top: 30px;
}

#myButton3 {
  margin-top: 15px;
}
