#countLabel {
  display: block;
  text-align: 2em;
  font-size: 2em;
  font-family: Helvetica;
}

.buttons {
  padding: 10px 20px;
  font-size: 0.8em;
  color: white;
  background-color: hsl(214, 100%, 74%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
  margin-bottom: 15px;
  margin-top: 15px;
}

.buttons:hover {
  background-color: hsl(214, 65%, 65%);
} 

body {
  font-family: Verdana;
}


.myLabels {
  font-size: 1.5em;
}

p {
  font-family: Verdana;
  font-size: 1em;
}

#myText {
  margin-top: 30px;
}

#myButton3 {
  margin-top: 15px;
}

h1 {
  color: hsl(214, 65%, 65%);
}

form {
  display: inline-block;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(34, 34, 34);
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 4px;
  margin-bottom: 5%;
}

label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

#result {
  font-size: 1.5em;
}